.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../lofi.png");
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    background-color: rgb(13, 0, 26);
}

body,
input,
textarea,
button {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    position: absolute;
    top: 30px;
    right: 20px;
}

.link a {
    color: cornsilk;
    text-shadow: 3px 3px rgb(46, 43, 43);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 5px;
    border: solid darkred 10px;
    border-radius: 50px 0 50px 0;
}

.link {
    padding-bottom: 20px;
    text-align-last: right;
}

.link a:hover {
    color: brown;
    background-color: cornsilk;
    font-weight: bold;
    text-shadow: none;

}

a:hover {
    color: #ff8e8e;
}

a {
    color: brown;
    transition: all 0.5s;
}

footer a {
    padding: 10px;
    text-decoration: none;
}

.title {
    position: absolute;
    bottom: 1%;
    left: 3%;
    color: brown;
    border: solid darkred 10px;
    border-radius: 50px 0 50px 0;
    padding: 5px;
    background-color: cornsilk;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}

.title:hover {
    color: rgb(31, 0, 65);
    border: solid rgb(31, 0, 65) 10px;
}

.heading {
    color: darkred;
    border: solid brown 10px;
    border-radius: 50px 0 50px 0;
    padding: 5px;
    background-color: cornsilk;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.heading:hover {
    color: rgb(31, 0, 65);
    border: solid rgb(31, 0, 65) 10px;
}

.heading-wrapper {
    margin: 40px 0px;
}

.section1 {
    background-color: cornsilk;
    padding: 20px;
}

.section2 {
    background: linear-gradient(rgb(13, 0, 26), rgb(31, 0, 65));
    padding: 20px;
}

.skills-text {
    color: white;
}

.section3 {
    background-color: cornsilk;
    padding: 20px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

/* FORM-CONTACT */
.section3 button {
    color: cornsilk;
    border: solid brown 5px;
    background-color: darkred;
    border-radius: 20px 0 20px 0;
    padding: 5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color, color, border 0.3s;
}

.section3 button:hover {
    color: cornsilk;
    border: solid rgb(31, 0, 65) 5px;
    background-color: rgb(31, 0, 65);
}

label {
    color: darkred;

}

input,
textarea {
    border: solid 2px brown;
    border-radius: 20px 0 20px 0;
    padding: 10px;
}

.question-set {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    background: linear-gradient(rgb(31, 0, 65), rgb(13, 0, 26));
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-footer {
    display: inline-block;
    text-align: center;
}

.irene-webs {
    padding-top: 10px;
}

/* PROGRESS BARS */

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-chart {
    width: 250px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 5s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.red .circle {
    stroke: rgb(196, 58, 58);
}

.circular-chart.green .circle {
    stroke: rgb(65, 213, 107);
}

.circular-chart.blue .circle {
    stroke: rgb(76, 189, 246);
}

.circular-chart.purple .circle {
    stroke: rgb(167, 76, 246);
}

.circular-chart.orange .circle {
    stroke: rgb(246, 178, 76);
}

.circular-chart.pink .circle {
    stroke: rgb(244, 128, 240);
}

.skill-name {
    fill: #eee;
    font-family: sans-serif;
    font-size: 0.2em;
    text-anchor: middle;
}

/* Desktop stuff */
@media (min-width: 768px) {
    .question-set {
        flex-direction: row;
    }

    .question:not(:first-child) {
        margin-left: 20px;
    }

    .heading-wrapper {
        margin: 40px;
    }

    .title {
        font-size: 65px;
    }

    .link a,
    .heading {
        font-size: 50px;
    }
}